# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.settings
bin
gradle
.project
gradlew
gradlew.bat
settings.gradle
.classpath


# Front
node_modules

.env